@import "../../../styles/variables.module.scss";
@import "../../../styles/mixins/mixin.scss";

.container {
  padding: 35px !important;

  @include breakpoint(md) {
    padding: 48px !important;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.title {
  font-weight: 600 !important;
}

.card {
  border-radius: 20px !important;
  padding: 8px;
}

.description {
  margin-bottom: 8px !important;
}

.divider {
  margin: 24px 0 !important;
}
