.footer {
  background-color: #007AC3;
  padding: 10px 40px;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;
}

.logoSection {
  font-weight: bold;
  font-size: 20px;
  color: white;

  .logoIcon {
    width: 140px;
  }
}

.linksSection {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 600;

  a {
    color: #160A68;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    color: white;
  }
}

.copySection {
  font-size: 12px;
  text-align: right;
  color: white;

  strong {
    font-weight: 700;
  }
}