.custom__table {
    &__cell {
      &__title {
        display: flex;
        font-size: 20px;
        color: $gray_lighten-2;
  
        h2 {
          font-family: 'Trebuchet MS', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 20px;
          display: flex;
          align-items: center;
          letter-spacing: 0.2px;
          color: $dark_primary;
        }
      }
  
      &__content {
        font-family: 'Trebuchet MS', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
  
        display: flex;
        align-items: center;
        letter-spacing: 0.2px;
  
        &__description {
          color: $gray_darken;
        }
        &__link {
          color: $secondary_text;
        }
      }
    }
    &__filter {
      height: 36px;
      margin-top: 14px;
    }
    &__data {
      &__notfound {
        color: $gray_darken
        
      }
    }
  }
  
  .wrapper__table {
    &__wide {
      &__display {
        display: block;
      }
      @include breakpoint(xsl) {
        &__display {
          display: none;
        }
      }
    }
    &__small {
      &__display {
        display: none;
      }
      @include breakpoint(xsl) {
        &__display {
          display: block;        
          .border__bottom {
            border-bottom: 1px solid #ecf0f1;
          }
        }
      }
    }
  }
  
  .chip__wrapper {
    display: flex;
  }
  
  .flex__column {
    display: flex !important;
    gap: 1rem;
    align-items: center;
  }
  
  .wrapper {
    &__flex {
      &__column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }