@import "../../../styles/variables.module.scss";

.return {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 64px;

  div {
    color: $theme_secondary;
    font-size: 20px;
  }

  span {
    font-family: $primary_font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 1.33333px;
    text-transform: uppercase;
    color: $theme_secondary;
  }
}

.back__btn {
  padding: 20px;

  @include breakpoint(xs) {
    left: 0;
  }

  @include breakpoint(sm) {
    left: 0;
  }

  @include breakpoint(lg) {
    left: 30px;
  }

}

.tabsContainer {
  background-color: none !important;
  border-radius: 8px !important;
  display: inline-flex !important;
  padding: 2px !important;
  gap: 4px !important;
}


.tabItem {
  font-weight: bold !important;
  text-transform: none !important;


  border-radius: 6px !important;
  color: #666 !important;
  min-height: unset !important;
  transition: all 0.2s ease-in-out !important;
}

.tabItemSelected {
  background: #D2E4F5 !important;
  color: #007AC3 !important;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.281) !important;
  border-bottom: 0px !important;
}

.css-1qltlow-MuiTabs-indicator .MuiTabs-indicator {
  background-color: red !important;
}