.input {
    width: 100%;
    height: 70%;
    border: none;
    border-radius: 40px;
    outline: none;
    padding: 1rem;
    font-size: .9rem;
    color: #000;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.16);

    &:focus {
        border-color: aqua;
    }
}