@import "./../../styles/variables.scss";

.wrapper__input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  &__required {
    color: $gray_lighten-2 !important;
    font-size: 12px !important;
  }

  p {
    font-family: $barlow;
    color: $primary;
    margin-bottom: 0;
    margin-left: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

}
.input {
  width: 100%;
  border: none;
  border-radius: 40px;
  outline: none;
  padding: 1rem;
  font-size: 0.9rem;
  color: #000;
  margin: 8px 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 20px #ECF0F1;

  &:focus {
    border-color: aqua;
  }

}

.input {
  &__wrapper {
    position: relative;
    width: 100%;
  }
  &__search {
    border-radius: 10px;
    box-sizing: border-box;
    padding: 11px 11px 11px 35px;
    width: 100%;
    border: none;
  }
  &__icon {
    position: absolute;
    font-size: 24px;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    color: $gray_darken;
  }
}

.input__error {
  box-shadow: 0px 0px 20px -6.5px rgba(255, 0, 0, 0.751);
  width: 100%;
  border: 1px solid red;
  border-radius: 40px;
  outline: none;
  padding: 1rem;
  font-size: 0.9rem;
  color: #000;
  transition: all 0.3s ease-in-out;
  margin: 8px 0;

  &:focus {
    border: none;
  }
}
