#image: docker:latest
#services:
#  - docker:dind
#
#stages:
#  - build
#  - deploy
#
#variables:
#  DOCKER_IMAGE_PATH: "$CI_REGISTRY_IMAGE"
#.template:docker:build: &docker-build
#  before_script:
#    # Log in to GitLab Container Registry
#    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
#  script:
#    - echo version:$CI_TAG
#    - docker build 
#        --build-arg BUILDKIT_INLINE_CACHE=1 
#        --build-arg REACT_APP_STRAPI_URL=$REACT_APP_STRAPI_URL
#        --build-arg REACT_APP_AZURE_APIM_URL=$REACT_APP_AZURE_APIM_URL
#        --build-arg REACT_APP_AZURE_SUBSCRIPTION_ID=$REACT_APP_AZURE_SUBSCRIPTION_ID
#        --build-arg REACT_APP_AZURE_RESOURCE_GROUP_NAME=$REACT_APP_AZURE_RESOURCE_GROUP_NAME
#        --build-arg REACT_APP_AZURE_SERVICE_NAME=$REACT_APP_AZURE_SERVICE_NAME
#        --build-arg REACT_APP_AZURE_APIM_ADMIN_API_VERSION=$REACT_APP_AZURE_APIM_ADMIN_API_VERSION
#        --build-arg REACT_APP_REMEMBER_KEY=$REACT_APP_REMEMBER_KEY
#        --build-arg REACT_APP_AZURE_APIM_ADMIN_API_PRIMARY_KEY=$REACT_APP_AZURE_APIM_ADMIN_API_PRIMARY_KEY
#        --build-arg REACT_APP_AZURE_APIM_ADMIN_API_UID=$REACT_APP_AZURE_APIM_ADMIN_API_UID
#        --build-arg REACT_APP_AZURE_APIM_ADMIN_API_TOKEN_VALID_DAYS=$REACT_APP_AZURE_APIM_ADMIN_API_TOKEN_VALID_DAYS
#        --build-arg REACT_APP_LIST_API_TOP=$REACT_APP_LIST_API_TOP
#        --build-arg REACT_APP_LIST_PRODUCT_APIS_TOP=$REACT_APP_LIST_PRODUCT_APIS_TOP
#        --build-arg REACT_APP_LIST_PRODUCT_TOP=$REACT_APP_LIST_PRODUCT_TOP
#        --build-arg REACT_APP_LIST_SUBSCRIPTIONS=$REACT_APP_LIST_SUBSCRIPTIONS
#        --build-arg WDS_SOCKET_PORT=$WDS_SOCKET_PORT
#        --build-arg REACT_APP_HOME_PAGE_SLUG=$REACT_APP_HOME_PAGE_SLUG
#        --build-arg REACT_APP_BLOG_PAGE_SLUG=$REACT_APP_BLOG_PAGE_SLUG
#        --build-arg REACT_APP_FAQ_PAGE_SLUG=$REACT_APP_FAQ_PAGE_SLUG
#        --build-arg REACT_APP_APIS_PAGE_SLUG=$REACT_APP_APIS_PAGE_SLUG
#        --build-arg REACT_APP_TERMS_PAGE_SLUG=$REACT_APP_TERMS_PAGE_SLUG
#        --build-arg REACT_APP_POLICY_PAGE_SLUG=$REACT_APP_POLICY_PAGE_SLUG
#        --cache-from "${DOCKER_IMAGE_PATH}:$TAG"
#        -t "${DOCKER_IMAGE_PATH}:$CI_TAG" -t "${DOCKER_IMAGE_PATH}:$TAG" .
#
#    - docker push $DOCKER_IMAGE_PATH:$TAG
#    - docker push $DOCKER_IMAGE_PATH:$CI_TAG
#
#.template:deploy: &ssh-deploy
#  script:
#    - apk add gettext
#    - mkdir -p ~/.ssh
#    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
#    - echo "$PRIVATE_RSA_KEY" | tr -d '\r' > ssh-auth
#    - chmod 600 ssh-auth
#    - envsubst < docker-compose.yaml > docker-compose.yaml.tmp
#    - scp -i ssh-auth docker-compose.yaml.tmp $SSH_LOGIN:$REMOTE_PATH/docker-compose.yaml
#    - ssh -i ssh-auth $SSH_LOGIN "cd $REMOTE_PATH && docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com && docker-compose down && docker-compose up -d "
#
#docker:build:
#  stage: build
#  variables:
#    TAG: $CI_COMMIT_REF_NAME
#    CI_TAG: $CI_COMMIT_SHA
#  rules:
#    - if: $CI_COMMIT_TAG =~ /^v[0-9]+(\.[0-9]+)+(\.[0-9]+)$/
#      variables:
#        TAG: latest
#        CI_TAG: $CI_COMMIT_TAG
#    - if: $CI_COMMIT_REF_NAME == "main"
#    # - if: $CI_COMMIT_REF_NAME == "develop"
#
#  <<: *docker-build
#
#docker:deploy:
#  stage: deploy
#  variables:
#    SSH_LOGIN: ubuntu@$PRE_UBUNTU
#    SSH_KEY: $PRIVATE_RSA_KEY
#    REMOTE_PATH: /var/www/aplicacion/devportal-clo-front
#  rules:
#    - if: $CI_COMMIT_REF_NAME == "main"
#  <<: *ssh-deploy
#  environment:
#    name: $CI_COMMIT_REF_NAME
#
#

stages:
  - config
  - build
  - deploy-bucket
  - deploy-cloudfare

variables:
  CLOUDFARE_HEADERMAIL: 'X-Auth-Email: '
  CLOUDFARE_HEADERKEY: 'X-Auth-Key: '
  CLOUDFARE_APPLICATION: 'Content-Type: application/json'

build react-app:
  image: node:12-alpine
  stage: build
  only:
    # - main
    - test
  script:
    - export PATH=$PATH:/usr/bin/npm
    - echo $ENV_CONFIG > .env
    - npm install
    - CI=false npm run build
  artifacts:    
    paths:
      - build/    
    expire_in: 1 hour

deploy-bucket:
  stage: deploy-bucket
  only:
    # - main
    - test
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
   - aws --version
   - aws s3 mb s3://${SUBDOMAIN_PROJECT}.${DOMAIN_PROJECT} --region eu-west-1
   - aws s3 cp build/ s3://${SUBDOMAIN_PROJECT}.${DOMAIN_PROJECT} --recursive --region eu-west-1
   - aws s3 website s3://${SUBDOMAIN_PROJECT}.${DOMAIN_PROJECT} --index-document index.html --region eu-west-1
   - sed -i "s|NOMBRE-BUCKET|${SUBDOMAIN_PROJECT}.${DOMAIN_PROJECT}|g;" policy-s3.json
   - aws s3api put-bucket-policy --bucket ${SUBDOMAIN_PROJECT}.${DOMAIN_PROJECT} --policy file://policy-s3.json --region eu-west-1
  environment: production

deploy-cloudfare:
  stage: deploy-cloudfare
  only:
    # - main
    - test
  variables:
    URL_S3: "${SUBDOMAIN_PROJECT}.${DOMAIN_PROJECT}.s3-website-eu-west-1.amazonaws.com"
    NAME_DNS: "$SUBDOMAIN_PROJECT.$DOMAIN_PROJECT"
  before_script:
    - apk add --update curl && rm -rf /var/cache/apk/*
    - apk add --no-cache curl jq
  script:
    - echo "${CLOUDFARE_HEADERKEY} ${CLOUDFARE_APIKEY}"
    - echo "${CLOUDFARE_HEADERMAIL} ${CLOUDFARE_EMAIL}"
    - echo "${URL_S3}"
    - curl -X POST ${CLOUDFARE_BASEAPI}/${CLOUDFARE_ZONE}/dns_records --header "${CLOUDFARE_HEADERMAIL} ${CLOUDFARE_EMAIL}" --header "${CLOUDFARE_HEADERKEY} ${CLOUDFARE_APIKEY}" --header "${CLOUDFARE_APPLICATION}" --data-raw '{"type":"CNAME","name":"'${NAME_DNS}'","content":"'${URL_S3}'","ttl":3600,"proxied":true}'
