stages:
  - config
  - build
  - deploy-bucket
  - deploy-cloudfare

variables:
  CLOUDFARE_HEADERMAIL: 'X-Auth-Email: '
  CLOUDFARE_HEADERKEY: 'X-Auth-Key: '
  CLOUDFARE_APPLICATION: 'Content-Type: application/json'

#build react-app:
#  image: node:12-alpine
#  stage: build
#  only:
    # - main
#    - test
#  script:
#    - export PATH=$PATH:/usr/bin/npm
#    - echo $ENV_CONFIG | base64 -d > .env
#    - cat .env    
#    - npm install
#    - CI=false npm run build
#  artifacts:    
#    paths:
#      - build/    
#    expire_in: 1 hour

deploy-bucket:
  stage: deploy-bucket
  only:
    # - main
    - test
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
   - aws --version
   #- bucketstatus=$(aws s3 ls "s3://$S3_BUCKET" 2>&1 | grep -q 'NoSuchBucket')
   - aws s3 ls s3://test.${DOMAIN_PROJECT} --region eu-west-1 2>&1 | grep -q 'NoSuchBucket'
   #- echo $bucketstatus
#   - aws s3 mb s3://test.${DOMAIN_PROJECT} --region eu-west-1
#   - aws s3 cp build/ s3://test.${DOMAIN_PROJECT} --region eu-west-1
#   - aws s3 website s3://test.${DOMAIN_PROJECT} --index-document index.html --region eu-west-1
#   - sed -i "s|NOMBRE-BUCKET|test.${DOMAIN_PROJECT}|g;" policy-s3.json
#   - aws s3api put-bucket-policy --bucket test.${DOMAIN_PROJECT} --policy file://policy-s3.json --region eu-west-1
  environment: production

#deploy-cloudfare:
#  stage: deploy-cloudfare
#  only:
    # - main
#    - test
#  variables:
#    URL_S3: "test.${DOMAIN_PROJECT}.s3-website-eu-west-1.amazonaws.com"
#    NAME_DNS: "$SUBDOMAIN_PROJECT.$DOMAIN_PROJECT"
#  before_script:
#    - apk add --update curl && rm -rf /var/cache/apk/*
#    - apk add --no-cache curl jq
#  script:
#    - echo "${CLOUDFARE_HEADERKEY} ${CLOUDFARE_APIKEY}"
#    - echo "${CLOUDFARE_HEADERMAIL} ${CLOUDFARE_EMAIL}"
#   - echo "${URL_S3}"
#    - curl -X POST ${CLOUDFARE_BASEAPI}/${CLOUDFARE_ZONE}/dns_records --header "${CLOUDFARE_HEADERMAIL} ${CLOUDFARE_EMAIL}" --header "${CLOUDFARE_HEADERKEY} ${CLOUDFARE_APIKEY}" --header "${CLOUDFARE_APPLICATION}" --data-raw '{"type":"CNAME","name":"'${NAME_DNS}'","content":"'${URL_S3}'","ttl":3600,"proxied":true}'
