image: docker:latest
services:
  - docker:dind

stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE_PATH: "$CI_REGISTRY_IMAGE"

build-dev:
  stage: build
  before_script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
  script:
    - echo version:$CI_COMMIT_SHORT_SHA
    - docker build --build-arg BUILDKIT_INLINE_CACHE=1 
        --build-arg REACT_APP_STRAPI_URL=$REACT_APP_STRAPI_URL
        --build-arg REACT_APP_SURA_URL=$REACT_APP_SURA_URL
        --build-arg REACT_APP_SUBSCRIPTION_ID=$REACT_APP_SUBSCRIPTION_ID
        --build-arg REACT_APP_RESOURCE_GROUP_NAME=$REACT_APP_RESOURCE_GROUP_NAME
        --build-arg REACT_APP_SERVICE_NAME=$REACT_APP_SERVICE_NAME
        --build-arg REACT_APP_API_VERSION=$REACT_APP_API_VERSION
        --build-arg REACT_APP_REMEMBER_KEY=$REACT_APP_REMEMBER_KEY
        --build-arg REACT_APP_PRIMARY_KEY=$REACT_APP_PRIMARY_KEY
        --build-arg REACT_APP_APIM_UID=$REACT_APP_APIM_UID
        --build-arg REACT_APP_TOKEN_VALID_DAYS=$REACT_APP_TOKEN_VALID_DAYS
        --build-arg REACT_APP_LIST_API_TOP=$REACT_APP_LIST_API_TOP
        --build-arg REACT_APP_LIST_PRODUCT_APIS_TOP=$REACT_APP_LIST_PRODUCT_APIS_TOP
        --build-arg REACT_APP_LIST_PRODUCT_TOP=$REACT_APP_LIST_PRODUCT_TOP
        --build-arg REACT_APP_LIST_SUBSCRIPTIONS=$REACT_APP_LIST_SUBSCRIPTIONS
        --build-arg WDS_SOCKET_PORT=$WDS_SOCKET_PORT
        --build-arg REACT_APP_HOME_PAGE_SLUG=$REACT_APP_HOME_PAGE_SLUG
        --build-arg REACT_APP_BLOG_PAGE_SLUG=$REACT_APP_BLOG_PAGE_SLUG
        --build-arg REACT_APP_FAQ_PAGE_SLUG=$REACT_APP_FAQ_PAGE_SLUG
        --build-arg REACT_APP_APIS_PAGE_SLUG=$REACT_APP_APIS_PAGE_SLUG
        --build-arg REACT_APP_TERMS_PAGE_SLUG=$REACT_APP_TERMS_PAGE_SLUG
        --build-arg REACT_APP_POLICY_PAGE_SLUG=$REACT_APP_POLICY_PAGE_SLUG                  
        --cache-from "${DOCKER_IMAGE_PATH}:$CI_COMMIT_SHORT_SHA" 
        -t "${DOCKER_IMAGE_PATH}:$CI_COMMIT_SHORT_SHA" .
    - docker tag "${DOCKER_IMAGE_PATH}:$CI_COMMIT_SHORT_SHA" "${DOCKER_IMAGE_PATH}:development"
    - docker push ${DOCKER_IMAGE_PATH}:$CI_COMMIT_SHORT_SHA
    - docker push ${DOCKER_IMAGE_PATH}:development
  only:
    refs:
      - develop  

deploy-dev:
  stage: deploy
  before_script:
    - apk add --update ca-certificates bash gnupg jq  && apk add --update -t deps curl gettext &&  rm -rf /var/cache/apk/*
    - curl -L https://storage.googleapis.com/kubernetes-release/release/v1.23.0/bin/linux/amd64/kubectl -o /usr/local/bin/kubectl && chmod +x /usr/local/bin/kubectl
  script: 
    - mkdir ~/.kube/
    - echo "$AKS_CONFIG_QA" | tr -d '\r' > ~/.kube/config
    - export KUBECONFIG=~/.kube/config
    - kubectl version
    - DEPLOY_VERSION=$CI_COMMIT_SHORT_SHA
    - cat kubernetes/manifest.yaml | 
          sed -e "s|CI_PROJECT_NAME|$CI_PROJECT_NAME|g;" | 
          sed -e "s|CI_REGISTRY_IMAGE|$DOCKER_IMAGE_PATH|g;" | 
          sed -e "s|DEPLOY_VERSION|$DEPLOY_VERSION|g;" > manifest.yaml
        #  sed -e "s|INGRESS_URL|$INGRESS_URL_DEV|g;" > manifest.yaml
    - kubectl apply -n dev-demo-cloudappi -f manifest.yaml  
  only:
    refs:
      - develop 
