trigger:
  branches:
    include:
      - develop
      #  - main
      #  - pre

pool:
  name: Azure Pipelines
  vmImage: ubuntu-20.04

variables:
  azName: devportal-front
  azPort: 3000
  azPortName: http
  azImage: $(azName):$(Build.SourceVersion)
  dockerRegistryConnection: AzRegistryContainerDev
  ${{ if eq(variables['Build.SourceBranchName'], 'main')}}:
    environment: prod
    openshiftServiceConnection: ARO-Pro
  ${{ if eq(variables['Build.SourceBranchName'], 'pre')}}:
    environment: pre
    openshiftServiceConnection: ARO-Pre
  ${{ if eq(variables['Build.SourceBranchName'], 'develop')}}:
    environment: dev
    openshiftServiceConnection: ARO-Dev

stages:
  - stage: Build
    jobs:
      - job: Build
        variables:
          - group: frontend-variables-${{variables.environment}}
        steps:
          - task: Docker@2
            displayName: Login to ACR
            inputs:
              command: login
              containerRegistry: $(dockerRegistryConnection)
          - task: Docker@2
            displayName: Build
            inputs:
              command: build
              repository: $(azName)
              Dockerfile: Dockerfile
              buildContext: .
              arguments: --build-arg REACT_APP_STRAPI_URL=$(REACT_APP_STRAPI_URL) --build-arg REACT_APP_SURA_URL=$(REACT_APP_SURA_URL) --build-arg REACT_APP_SUBSCRIPTION_ID=$(REACT_APP_SUBSCRIPTION_ID) --build-arg REACT_APP_RESOURCE_GROUP_NAME=$(REACT_APP_RESOURCE_GROUP_NAME) --build-arg REACT_APP_SERVICE_NAME=$(REACT_APP_SERVICE_NAME) --build-arg REACT_APP_API_VERSION=$(REACT_APP_API_VERSION) --build-arg REACT_APP_REMEMBER_KEY=$(REACT_APP_REMEMBER_KEY) --build-arg REACT_APP_PRIMARY_KEY=$(REACT_APP_PRIMARY_KEY) --build-arg REACT_APP_APIM_UID=$(REACT_APP_APIM_UID) --build-arg REACT_APP_TOKEN_VALID_DAYS=$(REACT_APP_TOKEN_VALID_DAYS) --build-arg REACT_APP_LIST_API_TOP=$(REACT_APP_LIST_API_TOP) --build-arg REACT_APP_LIST_PRODUCT_APIS_TOP=$(REACT_APP_LIST_PRODUCT_APIS_TOP) --build-arg REACT_APP_LIST_SUBSCRIPTIONS=$(REACT_APP_LIST_SUBSCRIPTIONS) --build-arg REACT_APP_LIST_PRODUCT_TOP=$(REACT_APP_LIST_PRODUCT_TOP)
              tags: |
                $(Build.SourceBranchName)
                $(Build.SourceVersion)
          - task: Docker@2
            displayName: Push
            inputs:
              command: push
              repository: $(gitlabRepository)
              tags: |
                $(Build.SourceBranchName)
                $(Build.SourceVersion)
  - stage: Deploy
    jobs:
      - deployment: Deploy
        variables:
          - group: frontend-variables-${{variables.environment}}
            #ENVIRONMENT: 'Development'
        displayName: "Deploy to Dev"
        environment: $(environment)
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                  submodules: true
                # Install oc so that it can be used within a 'script' or bash 'task'
                - task: oc-setup@2
                  displayName: Setup oc
                  inputs:
                    openshiftService: $(openshiftServiceConnection)
                # A script task making use of 'oc'
                - script: |
                    envsubst < openshift/manifest.yaml | oc apply -n api-cloud-dev -f -
                  displayName: Apply deployment
                # Single shot 'oc' command
                - task: oc-cmd@2
                  displayName: Wait for deployment
                  inputs:
                    openshiftService: $(openshiftServiceConnection)
                    cmd: "rollout status -w deployment/$(azName)"
