trigger:
  branches:
    include:
      - develop
      - qa
      - main

pool:
  name: Azure Pipelines
  vmImage: ubuntu-20.04

variables:
  APP_NAME: devportal-front
  APP_PORT: 8080
  APP_PORT_NAME: http
  ACR_IMAGE: $(ACR_HOST)/$(APP_NAME):$(Build.SourceVersion)
  ${{ if eq(variables['Build.SourceBranchName'], 'main')}}:
    ENV: prod
    ACR_CONNECTION: AzRegistryContainerPro
    ACR_HOST: azurecontainerregistrysura.azurecr.io
    ACR_SECRET_IMAGE_PULL: acrpro-sura
    OC_CONNECTION: ARO-Pro
  ${{ if eq(variables['Build.SourceBranchName'], 'develop')}}:
    ENV: dev
    ACR_CONNECTION: AzRegistryContainerDev
    ACR_HOST: azurecontainerregistrysuradev.azurecr.io
    ACR_SECRET_IMAGE_PULL: acrdev-sura
    OC_CONNECTION: ARO-Dev
  ${{ if eq(variables['Build.SourceBranchName'], 'qa')}}:
    ENV: qa
    ACR_CONNECTION: AzRegistryContainerDev
    ACR_HOST: azurecontainerregistrysuradev.azurecr.io
    ACR_SECRET_IMAGE_PULL: acrdev-sura
    OC_CONNECTION: ARO-qa

stages:
  - stage: Build
    jobs:
      - job: Build
        variables:
          - group: frontend-variables-${{variables.ENV}}
        steps:
          - task: Docker@2
            displayName: Login to ACR
            inputs:
              command: login
              containerRegistry: $(ACR_CONNECTION)
          - task: Docker@2
            displayName: Build
            inputs:
              command: build
              repository: $(APP_NAME)
              Dockerfile: Dockerfile
              buildContext: .
              arguments: '--build-arg REACT_APP_STRAPI_URL=$(REACT_APP_STRAPI_URL) --build-arg REACT_APP_SURA_URL=$(REACT_APP_SURA_URL) --build-arg REACT_APP_SUBSCRIPTION_ID=$(REACT_APP_SUBSCRIPTION_ID) --build-arg REACT_APP_RESOURCE_GROUP_NAME=$(REACT_APP_RESOURCE_GROUP_NAME) --build-arg REACT_APP_SERVICE_NAME=$(REACT_APP_SERVICE_NAME) --build-arg REACT_APP_API_VERSION=$(REACT_APP_API_VERSION) --build-arg REACT_APP_REMEMBER_KEY=$(REACT_APP_REMEMBER_KEY) --build-arg REACT_APP_PRIMARY_KEY=$(REACT_APP_PRIMARY_KEY) --build-arg REACT_APP_APIM_UID=$(REACT_APP_APIM_UID) --build-arg REACT_APP_TOKEN_VALID_DAYS=$(REACT_APP_TOKEN_VALID_DAYS) --build-arg REACT_APP_LIST_API_TOP=$(REACT_APP_LIST_API_TOP) --build-arg REACT_APP_LIST_PRODUCT_APIS_TOP=$(REACT_APP_LIST_PRODUCT_APIS_TOP) --build-arg REACT_APP_LIST_PRODUCT_TOP=$(REACT_APP_LIST_PRODUCT_TOP) --build-arg REACT_APP_LIST_SUBSCRIPTIONS=$(REACT_APP_LIST_SUBSCRIPTIONS) --build-arg WDS_SOCKET_PORT=$(WDS_SOCKET_PORT) --build-arg REACT_APP_HOME_PAGE_SLUG=$(REACT_APP_HOME_PAGE_SLUG) --build-arg REACT_APP_BLOG_PAGE_SLUG=$(REACT_APP_BLOG_PAGE_SLUG) --build-arg REACT_APP_FAQ_PAGE_SLUG=$(REACT_APP_FAQ_PAGE_SLUG) --build-arg REACT_APP_APIS_PAGE_SLUG=$(REACT_APP_APIS_PAGE_SLUG) --build-arg REACT_APP_TERMS_PAGE_SLUG=$(REACT_APP_TERMS_PAGE_SLUG) --build-arg REACT_APP_POLICY_PAGE_SLUG=$(REACT_APP_POLICY_PAGE_SLUG) --build-arg REACT_APP_EMAIL_ENDPOINT=$(REACT_APP_EMAIL_ENDPOINT) --build-arg REACT_APP_API_KEY_SEND_GRID=$(REACT_APP_API_KEY --build-arg REACT_APP_EMAIL_SUBSCRIPTION_KEY=$(REACT_APP_EMAIL_SUBSCRIPTION_KEY) --build-arg REACT_APP_EMAIL_TO=$(REACT_APP_EMAIL_TO) --build-arg REACT_APP_EMAIL_FROM=$(REACT_APP_EMAIL_FROM) --build-arg REACT_APP_EMAIL_CONVERSATION_TEMPLATE_ID=$(REACT_APP_EMAIL_CONVERSATION_TEMPLATE_ID) --build-arg REACT_APP_EMAIL_CONTACT_TEMPLATE_ID=$(REACT_APP_EMAIL_CONTACT_TEMPLATE_ID)'
              #tags: latest
              tags: |
                $(Build.SourceVersion)
                $(ENV)
                latest
          - task: Docker@2
            displayName: Push
            inputs:
              command: push
              repository: $(APP_NAME)
              tags: |
                $(Build.SourceVersion)
                $(ENV)
                latest
  - stage: Deploy
    jobs:
      - deployment: Deploy
        # variables:
        #   - group: frontend-variables-${{ variables.ENV }}
        displayName: "Deploy to ${{ variables.ENV }}"
        environment: ${{ variables.ENV }}
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                  submodules: true
                - script: |
                    for file in $(ls openshift)
                    do
                      envsubst < openshift/$file | tee openshift/$file
                    done
                  displayName: Replace variables in manifests
                # Install oc so that it can be used within a 'script' or bash 'task'
                - task: oc-setup@2
                  displayName: Setup oc
                  inputs:
                    openshiftService: $(OC_CONNECTION)
                # A script task making use of 'oc'
                - script: |
                    oc apply -f openshift/ -n api-cloud-${{ variables.env }}
                  displayName: Apply deployment
                # Single shot 'oc' command
                - task: oc-cmd@2
                  displayName: Wait for deployment
                  inputs:
                    openshiftService: $(OC_CONNECTION)
                    cmd: "rollout status -w deployment/$(APP_NAME)"
