VITE_APP_STRAPI_URL=
PORT=
VITE_APP_AZURE_APIM_URL=
VITE_APP_AZURE_SUBSCRIPTION_ID=
VITE_APP_AZURE_RESOURCE_GROUP_NAME=
VITE_APP_AZURE_SERVICE_NAME=
#VITE_APP_AZURE_APIM_ADMIN_API_VERSION=
VITE_APP_REMEMBER_KEY=