@import '../../../styles/variables.module.scss';

.title {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 700 !important;
    text-transform: uppercase;
    letter-spacing: 1.33px !important;
    color: var(--primary-color);
}

.color_chevron {
    color: var(--primary-color);
}