@import '../../../styles/variables.scss';

.title {
    font-family: $primary_font;
    font-size: 1rem;
    font-weight: 700 !important;
    text-transform: uppercase;
    letter-spacing: 1.33px !important;
    color: $theme_primary;
}

.color_chevron {
    color: $theme_primary;
}
