@import "../../styles/variables.module.scss";

.tab-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.tab-list_no_line {
  border-bottom: 0px solid rgba(0, 0, 0, 0.15);
  padding-left: 0;
  display: flex;
}

.tab-list-center {
  justify-content: center;
}

.tab-list-right {
  justify-content: right;
}

.tab-list-item-primary {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 2rem 1.75rem 2rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: $gray_lighten-0;
  cursor: pointer;
}

.tab-list-item-secundary {
  display: inline-block;
  list-style: none;
  margin: 0.5rem 0.75rem;
  padding-bottom: 0.25rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  letter-spacing: 0.16px;
  text-align: center;
  color: $secondary_white;
  cursor: pointer;
  @include breakpoint(xs) {
    font-size: 1rem;
  }
}

.tab-list-active-primary {
  border-bottom: 5px solid var(--secondary-color);
}

.tab-list-active-secundary {
  border-bottom: 1px solid $light_primary;
  color: $secondary_white;
}

.icon {
  color: $secondary_white;
  font-size: 1.25rem;
}
.icon-active {
  color: $secondary_white;
}


.pre__icon {
  width: 16px;
  height: 16px;
  margin-bottom: 6px;
}