
  .rowGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }
  
  .inputHalf {
    flex: 1 1 48%;
  }
  
  .inputFull {
    flex: 1 1 100%;
  }
  
  .inputField,
  .textAreaField {
    border: 1px solid #3399cc !important;
    border-radius: 6px !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    padding: 12px 16px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: white;
    color: #000;  
    &::placeholder {
      color: #888;
    }
  
    &:focus {
      border-color: #007bcb;
      outline: none;
    }
  }
  
  .submitButton {
    margin: 2rem auto 0;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid #CBEB80;
    border-radius: 6px;
    background: #CBEB80;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
  
    &:hover {
      background-color: #e6f0fa;
    }
  
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  
  .contactForm {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem !important;
    width: 100% !important;
    max-width: 768px !important;
    margin: auto !important;
    padding: 2rem !important;
    background-color: #eaf6fd !important; // Fondo celeste suave
    border-radius: 12px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08) !important; // Sombra suave
  }