@import '../../styles/variables.scss';

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

@mixin letter($color) {
   color: $color;
   &:hover {
      color: darken($color, 5%);
      transition: all 0.3s ease;
   }
}

@mixin border($color) {
   border: 2px solid $color;
}

.btn {
 text-decoration:none;
 padding: 15px 15.2%;
 border-radius:40px;
 font-family: $barlow;
 font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 19px;
 text-align: center;
 letter-spacing: 1.33333px;
 text-transform: uppercase;
 width: 100%;
 height: 48px;
}

.btn-none {
   display: none;
}
 
.btn-secundary {
   @include button-bg($secundary);
   @include letter($secundary_white);
   @include border(#00AEC7)

}

.btn-primary {
   @include button-bg($primary);
   @include letter($secundary_white);
   @include border(#0033A0)
}
 
.btn-secundary-white{
    @include button-bg($secundary_white);
    @include letter(#0033A0);
    @include border($secundary_white)
 }
 
.btn-ghost {
    @include button-bg($secundary_white);
    @include letter(#0033A0);
    @include border(#00AEC7)
 }
