@import "../../styles/variables.module.scss";

// .custom__sidebar__container {
//   background: red !important;
//   width: 100%;
//   height: 100%;
//   position: relative;
//   z-index: 1000;
// }

.custom__navbar {
  background: rgb(255, 255, 255) !important;

}

.custom__sidebar>div {
  background: #F5F6F8 !important;
  border-right: 1px solid #F5F6F8 !important;
}

.sidebar__item>a>div {
  color: black !important; // Change the default color to black

  & .active {
    color: $theme_primary; // Keep the active color as the theme primary
  }
}

.dropdown__item>svg,
.dropdown__item>span {
  color: $theme_primary !important;
  fill: $theme_primary !important;
}

.sidebar__item__back>div {
  color: $theme_primary !important;
  cursor: pointer;

  & svg {
    fill: $theme_primary !important;
  }
}



.title {
  font-family: $primary_font;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: -0.6px;

  &__name {
    font-family: $primary_font;
    font-weight: 500;
    font-size: 2.5rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__developer {
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $theme_primary;
  }

  &__organization {
    font-weight: 400;
    font-size: 1.25rem;
    color: $theme_primary;
  }

  &__role {
    font-weight: 600;
    font-size: 1.25rem;
    color: $theme_primary;
  }
}

.custom__navbar__title {
  background-color: #0074c9 !important;
  // height: 107px !important;
  display: flex !important;
  align-items: center !important;
  width: 100vw !important;
  padding: 0 68px !important;
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
  position: relative !important;
  left: 0 !important;
  right: 0 !important;
  box-shadow: 0 5px 20px #00000040, 0 -5px 20px #00000040 !important;
  font-size: 10px !important;
}


// .custom__navbar__title__text,
// .pageTitle {
//   color: white !important;

//   font-family: Poppins !important;
//   font-weight: bold !important;
//   font-size: 100px !important;
//   line-height: 100% !important;
//   letter-spacing: 0% !important;
//   vertical-align: middle !important;



// }