@import "../../../styles/variables.module.scss";

.cardBox {
  background-color: #f7f8fa !important;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0px 8px 6px -1px rgba(0, 0, 0, 0.2) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  margin: 30px;
}

.cardTitle {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 4px;
}

.cardValue {
  font-size: 15px;
  font-weight: 700;
  color: #007bff; // azul brillante
}

.statusBadge {
  margin-top: 10px !important;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #00c853; // verde brillante
  background-color: #ffffff;
  border-radius: 8px;
  padding: 4px 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}


.quotaBadge {
  margin-top: 10px !important;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  color: #007bff;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 4px 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.progressContainer {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 4px;
}

.progressBar {
  height: 100%;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
}

.timeButton {
  color: #007bcb;
  border: 1px solid #007bcb;
  border-radius: 6px !important;
  text-transform: uppercase;
  font-weight: 600;
  padding: 6px 20px;
  background-color: white;
  min-width: 48px;
  transition: 0.2s all ease-in-out;
  box-shadow: none !important;

  &:hover {
    background-color: #e6f0fb;
  }
}

.timeButtonActive {
  background-color: #007bcb !important;
  color: white !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-color: #007bcb;
}