
.pagination {
    cursor: pointer;
    display: flex;
    color: #0033A0;
    font-size: 20px;
    
    p {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
    }
}