@import "./../variables.scss";
@import "./../mixins/mixin.scss";


.pagination {
    cursor: pointer;
    display: flex;
    color: $primary;
    font-size: 20px;
    align-items: center;

    &__icon {
        color: $secondary;
    }
    
    p {
        font-family: $barlow;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
    }
}

.filter {
    margin-right: 15px;
    font-family: $barlow;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #53565A;
}

.filter + div {
    width: 75% !important;
}

.selectIn {
    width: 100%;
}

.margin_left {
    margin-left: 5% !important;
}