.blog__details {
    width: 100%;
    display: flex;
    padding: 50px 0;

    &__row__reverse {
        display: flex;
        flex-direction: row-reverse;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            margin-bottom: 0;
        }

        &__content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 768px) {
                margin-bottom: 0;
                flex-direction: column;
            }
        }

        &__title {
            display: flex;
            font-size: 20px;
            font-weight: 700;
            color: rgb(1, 90, 199);
            width: 30%;

            p {
                margin-left: 15px;
            }

            @media (max-width: 768px) {
                width: 100%;
                flex-direction: column;

                p {
                    padding: 8px 0 !important;
                }
            }
        }

        &__tags {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            @media (max-width: 768px) {
                width: 100%;
                margin-top: 15px;
                margin-bottom: 0;
                justify-content: space-between;
            }
        }

        p {
            width: 100%;
            padding: 20px 0;
        }
    }

    &__content__description {
        width: 50%;
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;


        @media (max-width: 768px) {
            width: 100%;
            padding: 15px 0;
        }

        &__footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 55px;

            @media (max-width: 768px) {
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &__title {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: bold;

        @media (max-width: 768px) {
            padding: 15px 0;
            margin-bottom: 0;
        }

        &__text {
            width: 100%;
            color: #333;
            margin-bottom: 10px;
            line-height: 30px;
        }
    }

    &__image__container {
        width: 50%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;

        @media (max-width: 768px) {
            width: 100%;
            height: auto;
        }
    }

    &__image__container img {
        width: 100%;
        height: 100%;
    }

    &__list__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 20px 0;

        @media (max-width: 768px) {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
        }

        &__items {
            margin-bottom: 20px;

            @media (max-width: 768px) {
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 0;
            }
        }
    }
}