@import "./../variables.scss";


.section__experiences {
    background: $gray_lighten-1;
    display: grid;

    &__tabs {
        margin-bottom: 150px;
        margin-top: 30px;
    }

    &__content {
        position: relative;
        margin-top: 40px;

        &__img {
            position: relative;
            width: 450px;

            img {
                border-radius: 20px;
                width: 100%;
            }
        }

        &__card {
            position: absolute;
            border-radius: 20px;
            // padding: 20px;
            top: 42px;
            left: 339px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            max-width: 100%;
        }

        &__items {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            max-width: 100%;
            height: 100%;
        }
    }
}
.section__result__content {
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 120px;

    &__result {
        width: 60%;
        padding: 2rem 0;
        margin-top: 30px;
    }

    &__grid__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    &__result__description {
        line-height: 25px;
        font-weight: 100;
        font-family: $barlow;
    }
    &__pagination {
        border-top: 1px solid $gray_lighten-1;
        padding-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        color: $primary;
        
        &__buttons__before {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease;
        
            &:first-child {
                color: $secondary;
                font-size: 30px;
            }
            p {
                color: $primary;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 2px;
            }
        }
        
        &__number {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 100;
            font-family: $barlow;
        
            p {
                margin-left: 10px;
        
                &:first-child {
                    color: $secondary;
                }
            }
        }
        
        &__buttons__next {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease;
        
            &:last-child {
                color: $secondary;
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
            }
        
            p {
                color: $primary;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 2px;
            }
        }
    }
}
