@import "./../variables.scss";

.content {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.texture {
  position: absolute;
  right: 0;
  top: 650px;
}

.title__align {
  align-self: flex-start;
}
.section__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;

  &__title {
    grid-column: 1/3;
  }

  &__img {
    display: flex;
    width: 100%;

    img {
      border-radius: 20px;
      width: 70%;
      box-shadow: -19px 21px 0px 1px rgba($secondary, 0.75);
      -webkit-box-shadow: -19px 21px 0px 1px rgba($secondary, 0.75);
      -moz-box-shadow: -19px 21px 0px 1px rgba($secondary, 0.75);
    }
  }
  &__items {
    display: grid;
    gap: 2rem;
  }
}

.section__works {
  background: $primary;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__tabs {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__tab {
      display: flex;
      justify-content: space-around;
      align-items: end;
      margin: 15px;
      &__content {
        display: flex;
        align-items: end;

        span {
          margin-left: 5px;
        }
      }
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__item {
      flex: 0 0 33.333333%;
    }
  }
}

.section__discover {
  display: grid;

  &__apicards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  &__showmore {
    &__button {
      display: flex;
      justify-content: end;
    }
    a {
      text-decoration: none;
    }
  }
}

.section__experiences{
  background: $gray_lighten-1;
  display: grid;
}

.section__news {
  display: grid;
  text-align: center;
}