@import "./variables.scss";
@import "./tools/tools.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: $barlow;
}

#root {
  height: 100%;
}

.display-4 {
  font-size: map-deep-get($heading, "h1", "size") !important;
  font-weight: map-deep-get($heading, "h1", "weight");
  line-height: map-deep-get($heading, "h1", "line-height");
  letter-spacing: map-deep-get($heading, "h1", "letter-spacing") !important;
  font-family: map-deep-get($heading, "h1", "font-family") !important;
}

.display-3 {
  font-size: map-deep-get($heading, "h2", "size") !important;
  font-weight: map-deep-get($heading, "h2", "weight");
  line-height: map-deep-get($heading, "h2", "line-height");
  letter-spacing: map-deep-get($heading, "h2", "letter-spacing") !important;
  font-family: map-deep-get($heading, "h2", "font-family") !important;
}
.display-2 {
  font-size: map-deep-get($heading, "h3", "size") !important;
  font-weight: map-deep-get($heading, "h3", "weight");
  line-height: map-deep-get($heading, "h3", "line-height");
  letter-spacing: map-deep-get($heading, "h3", "letter-spacing") !important;
  font-family: map-deep-get($heading, "h3", "font-family") !important;
}

.display-1 {
  font-size: map-deep-get($heading, "h4", "size") !important;
  font-weight: map-deep-get($heading, "h4", "weight");
  line-height: map-deep-get($heading, "h4", "line-height");
  letter-spacing: map-deep-get($heading, "h4", "letter-spacing") !important;
  font-family: map-deep-get($heading, "h4", "font-family") !important;
}

.headline {
  font-size: map-deep-get($heading, "h5", "size") !important;
  font-weight: map-deep-get($heading, "h5", "weight");
  line-height: map-deep-get($heading, "h5", "line-height");
  letter-spacing: map-deep-get($heading, "h5", "letter-spacing") !important;
  font-family: map-deep-get($heading, "h5", "font-family") !important;
}

.title {
  font-size: map-deep-get($heading, "h5", "size") !important;
  font-weight: map-deep-get($heading, "h5", "weight");
  line-height: map-deep-get($heading, "h5", "line-height");
  letter-spacing: map-deep-get($heading, "h5", "letter-spacing") !important;
  font-family: map-deep-get($heading, "h5", "font-family") !important;
}

.subtitle-2 {
  font-size: map-deep-get($heading, "subtitle-2", "size") !important;
  font-weight: map-deep-get($heading, "subtitle-2", "weight");
  letter-spacing: map-deep-get(
    $heading,
    "subtitle-2",
    "letter-spacing"
  ) !important;
  line-height: map-deep-get($heading, "subtitle-2", "line-height");
  font-family: map-deep-get($heading, "subtitle-2", "font-family") !important;
}

.subtitle-1 {
  font-size: map-deep-get($heading, "subtitle-1", "size") !important;
  font-weight: map-deep-get($heading, "subtitle-1", "weight");
  letter-spacing: map-deep-get(
    $heading,
    "subtitle-1",
    "letter-spacing"
  ) !important;
  line-height: map-deep-get($heading, "subtitle-1", "line-height");
  font-family: map-deep-get($heading, "subtitle-1", "font-family") !important;
}

.body-2 {
  font-size: map-deep-get($heading, "body-2", "size") !important;
  font-weight: map-deep-get($heading, "body-2", "weight");
  letter-spacing: map-deep-get($heading, "body-2", "letter-spacing") !important;
  line-height: map-deep-get($heading, "body-2", "line-height");
  font-family: map-deep-get($heading, "body-2", "font-family") !important;
}

.body-1 {
  font-size: map-deep-get($heading, "body-1", "size") !important;
  font-weight: map-deep-get($heading, "body-1", "weight");
  letter-spacing: map-deep-get($heading, "body-1", "letter-spacing") !important;
  line-height: map-deep-get($heading, "body-1", "line-height");
  font-family: map-deep-get($heading, "body-1", "font-family") !important;
}

.caption {
  font-size: map-deep-get($heading, "caption", "size") !important;
  font-weight: map-deep-get($heading, "caption", "weight");
  letter-spacing: map-deep-get(
    $heading,
    "caption",
    "letter-spacing"
  ) !important;
  line-height: map-deep-get($heading, "caption", "line-height");
  font-family: map-deep-get($heading, "caption", "font-family") !important;
}

.overline {
  font-size: map-deep-get($heading, "overline", "size") !important;
  font-weight: map-deep-get($heading, "overline", "weight");
  letter-spacing: map-deep-get(
    $heading,
    "overline",
    "letter-spacing"
  ) !important;
  line-height: map-deep-get($heading, "overline", "line-height");
  text-transform: uppercase;
  font-family: map-deep-get($heading, "overline", "font-family") !important;
}

.font-weight-thin {
  font-weight: map-deep-get($font-weights, "thin") !important;
}

.font-weight-light {
  font-weight: map-deep-get($font-weights, "light") !important;
}

.font-weight-regular {
  font-weight: map-deep-get($font-weights, "regular") !important;
}

.font-weight-medium {
  font-weight: map-deep-get($font-weights, "medium") !important;
}

.font-weight-bold {
  font-weight: map-deep-get($font-weights, "bold") !important;
}

.font-weight-black {
  font-weight: map-deep-get($font-weights, "black") !important;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: $secundary_white;
  border-radius: 20px;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: $success;
}