@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");
@import url(//db.onlinewebfonts.com/c/4c418fddb193fdc55a68a0040c1414cf?family=FS+Joey);

/* ------------------------------ 
    FONTS 
------------------------------ */

$barlow: "Barlow", sans-serif;
$fs-joey: "FS Joey", sans-serif;

/* ------------------------------ 
    COLORS 
------------------------------ */
$primary: #0033a0;
$secundary: #00aec7;
$secundary_white: #ffffff;
$secundary_yellow: #e3e829;
$gray: #768692;
$gray_lighten-1: #ecf0f1;
$gray_lighten-2: #8189a9;
$gray_darken: #53565a;


