@import "./tools/tools.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");
@import url(//db.onlinewebfonts.com/c/4c418fddb193fdc55a68a0040c1414cf?family=FS+Joey);

/* ------------------------------ 
    FONTS 
------------------------------ */

$barlow: "Barlow", sans-serif;
$fs-joey: "FS Joey", sans-serif;

/* ------------------------------ 
    COLORS 
------------------------------ */
$primary: #0033a0;
$secundary: #00aec7;
$secundary_white: #ffffff;
$secundary_yellow: #e3e829;
$gray: #768692;
$gray_lighten-1: #ecf0f1;
$gray_lighten-2: #8189a9;
$gray_darken: #53565a;

/* ------------------------------ 
    WEIGHTS 
------------------------------ */
$font-weights: () !default;
$font-weights: map-deep-merge(
  (
    'thin': 100,
    'light': 300,
    'regular': 400,
    'medium': 500,
    'bold': 700,
    'black': 900
  ),
  $font-weights
);

/* ------------------------------ 
    HEADINGS 
------------------------------ */
$heading: () !default;
$heading: map-deep-merge(
  (
    "headline-ad": (
      "size": 90px,
      "weight": 700,
      "line-height": auto,
      "letter-spacing": -1.5px,
      "font-family": $fs-joey,
      "text-transform": false,
    ),
    "h1": (
      "size": 60px,
      "weight": 700,
      "line-height": auto,
      "letter-spacing": -0.5px,
      "font-family": $fs-joey,
      "text-transform": false,
    ),
    "h2": (
      "size": 48px,
      "weight": 700,
      "line-height": auto,
      "letter-spacing": auto,
      "font-family": $fs-joey,
      "text-transform": false,
    ),
    "h3": (
      "size": 36px,
      "weight": 700,
      "line-height": auto,
      "letter-spacing": 0.25,
      "font-family": $barlow,
      "text-transform": false,
    ),
    "h4": (
      "size": 28px,
      "weight": 600,
      "line-height": auto,
      "letter-spacing": auto,
      "font-family": $barlow,
      "text-transform": false,
    ),
    "h5": (
      "size": 22px,
      "weight": 500,
      "line-height": auto,
      "letter-spacing": 0.15,
      "font-family": $barlow,
      "text-transform": false,
    ),
    "subtitle-1": (
      "size": 18px,
      "weight": 400,
      "line-height": auto,
      "letter-spacing": 0.15,
      "font-family": $barlow,
      "text-transform": false,
    ),
    "subtitle-2": (
      "size": 16px,
      "weight": 500,
      "line-height": auto,
      "letter-spacing": 0.1,
      "font-family": $barlow,
      "text-transform": false,
    ),
    "body-1": (
      "size": 18px,
      "weight": 400,
      "line-height": auto,
      "letter-spacing": 0.5,
      "font-family": $barlow,
      "text-transform": false,
    ),
    "body-2": (
      "size": 16px,
      "weight": 400,
      "line-height": auto,
      "letter-spacing": 0.25,
      "font-family": $barlow,
      "text-transform": false,
    ),
    "button": (
      "size": 16px,
      "weight": 700,
      "line-height": auto,
      "letter-spacing": 1.25px,
      "font-family": $barlow,
      "text-transform": uppercase,
    ),
    "caption": (
      "size": 13px,
      "weight": 400,
      "line-height": auto,
      "letter-spacing": 0.4,
      "font-family": $barlow,
      "text-transform": false,
    ),
    "overline": (
      "size": 10px,
      "weight": 500,
      "line-height": auto,
      "letter-spacing": 1.5px,
      "font-family": $barlow,
      "text-transform": uppercase,
    ),
  ),
  $heading
);

// $typography: () !default;
// @each $type, $values in $heading {
//   $typography: map-deep-merge(
//     $typography,
//     (#{$type}: map-values($values))
//   );
// }
