@import '../../styles/variables.module.scss';

.title {
    font-family: $primary_font;
    font-size: 2rem;
    font-weight: 700;
    color: #160A68;
    margin-bottom: 0.5rem;
}

.divider {
    width: 56px;
    height: 4px;
    background: $primary;
    border-radius: 4px;
}