.banner{
  padding: 0;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.leftSide{ 
  width: 100%; 
  min-height: 300px; 
}

.displayTitle{
  text-align: center;
  margin-top: 10px;
}

.subtitle{
  text-align: center;
}