@import '../../styles/variables.scss';
.card_img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    z-index: 5;
}

.card_container {
    padding: 16px 20px;

    .card_chip_title {
        display: flex;
        margin-bottom: 6.03px;
    
        .chip_title {
            margin-left: 5.7%;
            font-family: $barlow;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: 0.157143px;
            color: $dark;
        }
    
        .title {
            font-family: $barlow;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: 0.157143px;
            color: $dark;
        }
    
    }
    
    p {
            font-family: $barlow;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $gray_darken;
            margin-bottom: 7.2px;
        }
    
    .card_chip_info {
        display: flex;
        align-items: center;
        cursor: pointer;
    
        span {
            font-family: $barlow;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 1.33333px;
            text-transform: uppercase;
            color: $secondary;
        }
    
        .svg {
            color: $primary;
            font-size: 25px;
        }
    }
}

.card_slider_container {
    position: relative;
    overflow: hidden;
        &_slider {
            display: flex;
            flex-wrap: nowrap;
            &_slide {
                min-width: 100%;
                width: 100vw;
                overflow: hidden;
                transition: 0.3s ease all;
                z-index: 100;
                max-height: 500px;
                position: relative;
            }
        }
        &_text {
            margin: auto;
            width: 80%;
            padding: 5%;

            div {
                p {
                    margin-top: 5px;
                    white-space: pre-wrap;
                }    
            }
        }

        &_footer {
            display: flex;
            margin-top: 20px;
            justify-content:flex-start;

            &_icon {
                font-size: 40px;
                margin-top: -5px;
            }
            &_bar {
                margin-top: 14px;
                width: 50.47px;
                height: 1px;
                border: 1px solid #676F8F ;
                transform: rotate(90deg);
            }

            &_text {
                margin-top: -10px;
                h5 {
                    font-family: $barlow;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 28px;
                    color: $primary;
                }
                span {
                    font-family: $barlow;
                }
            }
        }
    
}

.card_slider_controls {
    position: absolute;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    pointer-events: none;

    button {
        pointer-events: all;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        width: 50px;
        height: 100%;
        text-align: center;
        position: absolute;
        transition: 0.3s ease all;
        color: $secondary;
        font-size: 50px;
        &:hover {
            background: rgba($color: #000000, $alpha: 0.006);
        }
    }
    &_right {
        right: 0;
    }
    &_left {
        left: 0;
    }
}

.card__information {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__information__tags {
    display: flex;
}

.tags-flex-wrap {
    flex-wrap: wrap;
}

.tags-reponsive {
    padding: 3px 7px !important;
}