@import '../../styles/variables.scss';
.card_img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    z-index: 5;
}

.card_container {
    padding: 16px 20px;

    .card_chip_title {
        display: flex;
        margin-bottom: 6.03px;
    
        .chip_title {
            margin-left: 5.7%;
            font-family: $barlow;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: 0.157143px;
            color: $dark;
        }
    
        .title {
            font-family: $barlow;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: 0.157143px;
            color: $dark;
        }
    
    }
    
    p {
            font-family: $barlow;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $gray_darken;
            margin-bottom: 7.2px;
        }
    
    .card_chip_info {
        display: flex;
        align-items: center;
        cursor: pointer;
    
        span {
            font-family: $barlow;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 1.33333px;
            text-transform: uppercase;
            color: $secondary;
        }
    
        .svg {
            color: $primary;
            font-size: 25px;
        }
    }
}

.card_slider_container {
    position: relative;
    overflow: hidden;
        &_slider {
            display: flex;
            flex-wrap: nowrap;
            &_slide {
                min-width: 100%;
                width: 100vw;
                overflow: hidden;
                transition: 0.3s ease all;
                z-index: 100;
                max-height: 500px;
                position: relative;

                img {
                    width: 100%;
                    vertical-align: top;
                }
                &__text {
                    width: 100%;
                    height: 100%;
                    background: rgba($color: #000000, $alpha: 0.7);
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: #fff;
                }
            }
        }
    
}

.card_slider_controls {
    position: absolute;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    pointer-events: none;

    button {
        pointer-events: all;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        width: 50px;
        height: 100%;
        text-align: center;
        position: absolute;
        transition: 0.3s ease all;
        color: red;
        font-size: 50px;
        &:hover {
            background: rgba($color: #000000, $alpha: 0.2);
        }
    }
    &_right {
        right: 0;
    }
    &_left {
        left: 0;
    }
}

