@import '../../styles/variables.scss';

.main_item_contain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item_title {
    margin-bottom: 10px;
    .number {
        font-family: $fs-joey;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: 0.25px;
        color: $secondary_yellow;
    }
    .title {
        font-family: $fs-joey;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 50px;
        letter-spacing: 0.25px;
        color: $secondary_white;
    }
}

.item_contenedor {
    display: flex;
    flex-flow: row nowrap;
}

.item_circle {
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .circle {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background: #00acc742;
        display: flex;
        justify-content:center;
        align-items: center;
        margin-left: 5%;

        .icon {
            font-size: 56px;
            color: $primary;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.item_description {
    width: 85%;
    padding-left: 2rem;
    padding-right: 2.5%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    h1 {
        font-family: $barlow;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.157143px;
    }
    p {
        font-family: $barlow;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}