.container {
    display: flex !important;
    align-items: center !important;
    background-color: white !important;
    padding: 8px 16px !important;
    border-radius: 4px !important;

}

.avatar {
    background-color: #005a8d !important;
    width: 40px !important;
    height: 40px !important;
    font-weight: bold !important;
    margin-right: 12px !important;
    font-size: 16px !important;
}

.userInfo {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;
}

.name {
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #005a8d !important;
    line-height: 1.2 !important;
}

.email {
    font-size: 12px !important;
    color: #666 !important;
    line-height: 1.2 !important;
    text-transform: lowercase !important;
}

.icon {
    color: #005a8d !important;
    margin-left: auto !important;
}