@import "./../../../styles/variables.module.scss";

.accordion {
  border: 1px solid #007AC3;
  width: 100%;
  transition: 0.3s ease all;
  padding: 0;
  @include breakpoint(xs) {
    padding: 0;
  }
  &__title {
    border: none !important;
    border-bottom: none !important;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    h1 {
      font-size: 1.2rem;
      font-weight: bold;
      color: $blue;
    }
    p {
      font-size: 1rem;
      font-weight: bold;
    }
  }
  &__head {
    border: none !important;
    border-bottom: none !important;
    transition: 0.3s ease all;
    background: $white;
    color: var(--primary-color);
    border-radius: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 30px;
    position: relative;
    cursor: pointer;
   
    &__title {
      border: none !important;
      border-bottom: none !important;
      font-size: 22px;
      font-weight: 500;
      @include breakpoint(xs) {
        font-size: 18px;
      }
      &__actionbutton {
        font-size: 20px;
      }
    }
  }
  &__body {
    
    transition: 0.3s ease all;
    width: 100%;
    height: 100%;
    padding: 35px 30px;
    box-shadow: 0px 3px 12px -2px rgba(0, 0, 0, 0.1);
    margin-top: -9px;
    border-radius: 0px;
    background: $white;
    border: none !important;
    border-bottom: none !important;

    &__description {
      font-size: 18px;
      font-weight: 400;
      color: $gray_darken;
      line-height: 28px;
      padding-bottom: 1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    &__title {

      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1rem;
      padding: 0 0.5rem 1rem;
      align-items: center;

      h1 {
        font-size: 1rem;
        font-weight: 400;
        color: $gray_lighten-0;
      }

      p {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.1px;
      }

    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1rem;
      align-items: center;
    }
  }
}

.active {
  border: none !important;
  border-bottom: none !important;
  transition: 0.3s ease all;
  background: $white;
  color: var(--primary-color);
  font-weight: 700;
}

.filter {
  width: 100%;
  margin: 30px 0;
  &__title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.33px;
    font-family: var(--font-family);
    text-transform: uppercase;
    color: $gray_darken;
    cursor: pointer;
  }
  &__body{
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    &__list {
      list-style: none;
      padding: 0;
      &__item {
        margin: 15px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        &__chip {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          width: 50px;
          height: 29px;
          font-weight: 500;
          font-size: 0.875rem;
          font-family: var(--font-family);
          color: $secondary_white;
          border-radius: 0.313rem;
        }
      }
    }
  }
}

.POST {
  background: $blue !important;
}
.GET {
  background: $green;
}
.PUSH {
  background: $orange;
}
.DEL {
  background: $red;
}

.item__active{

  margin: 15px 0;
  padding-left: 10px;
  font-weight: 700;

  border: none !important;
  border-bottom: none !important;
  color: $primary;
}

.auth__title {
  font-size: 1.5rem;
  font-weight: 400;
}
.auth__subtitle {
  font-size: 1rem;
  font-weight: 400;
}
.auth__body {
  font-weight: 700;
  margin-right: 5px;
}
.table__auth  {
  width: 100%;
  margin: 1rem 0;
  table, th, td {
    border: none !important;
    border-bottom: none !important;
    font-size: 14px;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  &__subrow {
    background-color: rgba($color: #000, $alpha: 0.1)
  }
}

.scopes{
  padding: 0;
  li {
    padding: 10px 10px 10px 0;
    list-style-type: none;
    span {
      font-size: 1rem;
    }
  }
  &__code {
    display: inline-block;
    max-width: 600px;
    word-break: break-all;
    color: var(--primary-color);
    background: $gray_lighten-4;
    border-radius: 12px;
    border: none !important;
    border-bottom: none !important;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1px;
    padding: 0.5rem 11px;
    &__item {
      padding: 0 10px;
      
      background: #FAFAFC;
      color: $primary;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.wrapper__auth {
  // style={{ display: 'grid', gap: '1rem', gridTemplateColumns: '1fr 3fr' }}
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;

  &__apikey {
    margin: 1rem 0;
  }
  &__title {
    font-size: 1rem;
    font-weight: 400;
    color: #53565a;
  }
  &__content {
    display: flex;
    align-items: center;
    &__title {
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.1px;
    }
    &__code {
      color: $primary;
      background: #FAFAFC;
      border: none !important;
      border-bottom: none !important;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.1px;
      padding: 0.5rem 11px;
      margin: 0 15px 0 0;
    }
    &__scopes {
      &__item {
        padding: 10px 5px;
      }
    }
  }
}


