@import "../../styles/variables.module.scss";

.custom__navbar {
  background: var(--primary-color);
}

.custom__sidebar>div {
  background: $gray_lighten-4 !important;
  border: none;
}

.sidebar__item>a>div {
  color: $gray !important;

  & .active {
    color: var(--primary-color);
  }
}

.dropdown__item>svg,
.dropdown__item>span {
  color: var(--primary-color);
  fill: var(--primary-color);
}

.sidebar__item__back>div {
  color: var(--primary-color);

  & svg {
    fill: var(--primary-color);
  }
}

.line__separator {
  border-bottom: 1px solid var(--secondary-color);
  width: 58px;
}

.title {
  font-family: var(--font-family);
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: -0.6px;

  &__name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2.5rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__developer {
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: var(--primary-color);
  }

  &__organization {
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--primary-color);
  }

  &__role {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--primary-color);
  }
}