@import '../../styles/variables.scss';

.title {
    font-size: 48px;
    font-weight: 700;
    color: $primary;
    margin-bottom: 0.5rem;
}

.cell_title {
    display: flex;
    font-size: 20px;
    color: $gray_lighten-2;

    h2 {
        font-family: $barlow;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.2px;
        color: #53565A;
    }
}

.cell_name {
    font-family: $barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: $secondary;
}

.cell_description {
    font-family: $barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #53565A;
}

.pagination {
    cursor: pointer;
    display: flex;
    color: $primary;
    font-size: 20px;
    
    p {
        font-family: $barlow;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
    }
}

.gridEnd {
    display: flex;
    justify-content:flex-end;
}

.colorBtn {
 color: $primary;
 font-weight: bold;
}

.buttonApi {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 80%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-top: 20px;
}

.form_suscriptione {
    display: flex;
    // justify-content:space-between;

    &__input {
        width: 600px;
        margin-right: 28px;
    }

    &__btn {
        width: 167px;
    }   
}

.return {
    display: flex;
    width: 64px;

    div {
        color: $secondary;
        font-size: 20px;
    }

    span {
        font-family: $barlow;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        letter-spacing: 1.33333px;
        text-transform: uppercase;
        color: $secondary;
    }
}

.input {
    width: 100%;
    border: none;
    border-radius: 15px;
    outline: none;
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #000;
    margin: 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2px 20px #ECF0F1;
    &:focus {
      border-color: aqua;
    }
  }