@import '../../styles/variables.scss';

.title {
    font-size: 48px;
    font-weight: 700;
    color: $primary;
    margin-bottom: 0.5rem;
}

.gridEnd {
    display: flex;
    justify-content:flex-end;
}

.colorBtn {
 color: #0033A0;
 font-weight: bold;
}

.buttonApi {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 80%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-top: 20px;
}