@import "../../styles/variables.scss";

.contact {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $gray_lighten-1;

    &__container {
        height: 70%;
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 40px 5px;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 2rem;
        width: 100%;

        &__icon {
            width: 10%;
            font-size: 40px;
            color: $secondary;
        }

        &__title {
            width: 90%;
            font-family: 'FS Joey';
            font-style: normal;
            font-weight: 700;
            font-size: 46px;
            line-height: 48px;
            color: $primary;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 2rem;
        width: 100%;
        padding: 0px 3%;
        font-family: $barlow;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.157143px;
        color: $primary;
    }

    &__container__form {
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        // align-items: center;
        margin-bottom: 2rem;
        width: 100%;
        padding: 0px 3%;
    }

    &__form {
        width: 100%;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        &__input {
            width: 30%;
            margin-right: 5%;
        }
    }
}