@import "./../../styles/variables.scss";
@import "./../../styles/mixins/mixin.scss";

.header {
  background: $secundary_white;
  width: 100%;
  height: 100px;
  padding: 0 1.5rem;
  transition: 0.3s ease all;
  @include breakpoint(md) {
    padding: 0 3rem;
  }

  &__content {
    overflow: hidden;
    color: $primary;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;

    &__logo {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 18px;
      font-weight: map-deep-get($font-weights, "medium") !important;
      &__img{
          padding-right: 20px;
      }
      &__text {              
        color: $primary;
      }
      &__variant {
        font-size: 18px;
        color: $secundary;
      }
    }

    &__nav {
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background: rgba($primary, 0.9);
      backdrop-filter: blur(2px);
      transform: translate(0);
      transition: 0.3s ease transform;

      @include breakpoint(md) {
        transform: none;
        flex-direction: row;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        // margin-bottom: ;
        @include breakpoint(md) {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
          // margin-right: calc();
        }

        li {
          &:not(:last-child) {
            // margin-bottom: ;
            @include breakpoint(md) {
              margin-bottom: 0;
              // margin-right: ;
            }
          }
          a {
            text-decoration: none;
            color: inherit;
            padding: 0.75rem 1.25rem;
            border-radius: 10%;
            font-weight: map-deep-get($font-weights, "medium") !important;

            &:hover {
              color: $secundary;
              font-weight: map-deep-get($font-weights, "bold") !important;
            }
            &:active {
              color: $secundary;
              font-weight: map-deep-get($font-weights, "bold") !important;
            }
          }
        }
      }

      button {
        cursor: pointer;
        outline: none;
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
        font-family: inherit;
        background: $primary;
        border: 1px solid transparent;
        transition: 0.3s ease all;

        &:hover {
          color: $secundary;
          font-weight: map-deep-get($font-weights, "bold") !important;
        }
        &:active {
          color: $secundary;
          font-weight: map-deep-get($font-weights, "bold") !important;
        }
      }

      &.isMenu {
        transform: translate(100%);
      }
    }
    &__toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: 0.3s ease all;
      position: relative;

      &:hover {
        color: $primary;
      }

      @include breakpoint(md) {
        display: none;
      }
    }
  }
}
