@import "../../styles/variables.scss";

.slider {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;

    @media (max-width: 1140px) {
      width: 90vw;
    }
    
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      grid-auto-rows: 1fr;
      grid-auto-flow: column;
      justify-content: center;
      align-items: center;
      width: 80vw;
      margin: 0;
      transform: translateX(29px);
      overflow: hidden;
    }
  }
  &__content {
    &__card {
      padding: 0 12px;
      width: 377px;
      transition: all 0.2s ease;
      @media (max-width: 768px) {
        width: 337px !important;
        margin: 0 auto;
      }
      }
      &__card:hover {
        transform: scale(1.1);
      }
      
      // margin 2 children
      &__card:nth-child(2) {
        transform: translateY(-40px);
        @media (max-width: 768px) {
          transform: translateY(0);
        }
      }
      
      &__card:nth-child(2):hover {
        transform: translateY(-18px) scale(1.1);
        @media (max-width: 768px) {
          transform: translateY(0) scale(1.1);
        }
        }
  }
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary;
  font-size: 36px;
  &__dots {
      display: flex;
      align-items: center;
      justify-content: space-around;
    &__dot {
      width: 10px;
      height: 10px;
      border: 1px solid $secondary;
      border-radius: 50%;
      margin: 5px;
    }
  }
  @media (max-width: 768px) {
    font-size: 24px;
    max-width: 100vw;
    justify-content: space-between;
    margin: 0px;
  }
}
