@import "../../styles/variables.scss";

.slider {
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    &__card {
      padding: 0 15px;
      max-width: 377px;
      transition: all 0.2s ease;
      }
      &__card:hover {
        transform: scale(1.1);
      }
      
      // margin 2 children
      &__card:nth-child(2) {
        transform: translateY(-18px);
      }
      
      &__card:nth-child(2):hover {
        transform: translateY(-18px) scale(1.1);
      }
  }
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary;
  font-size: 36px;
  &__dots {
      display: flex;
      align-items: center;
      justify-content: space-around;
    &__dot {
      width: 10px;
      height: 10px;
      border: 1px solid $secondary;
      border-radius: 50%;
      margin: 5px;
    }
  }
}
