@import "../../styles/variables.scss";

.slider {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    &__card {
      margin: 15px;
    }
  }
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary;
  font-size: 36px;
  &__dots {
      display: flex;
      align-items: center;
      justify-content: space-around;
    &__dot {
      width: 10px;
      height: 10px;
      border: 1px solid $secondary;
      border-radius: 50%;
      margin: 5px;
    }
  }
}
