@import "../../styles/variables.scss";

.table-left {
  margin-left: 5%;
}

.cell_title {
  display: flex;
  font-size: 12px;
  color: $dark_primary;
  text-transform: uppercase;
  h2 {
      font-family: $primary_font;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.2px;
      color: $dark_primary;
  }
}

.cell_name {
  font-family: $secondary_font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: $secondary_text;
}

.cell_description {
  font-family: $secondary_font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: $gray_darken;
}

.pagination {
    cursor: pointer;
    display: flex;
    color: $blue;
    font-size: 20px;
    align-items: center;

    &__icon {
        color: $secondary;
    }
    
    p {
        font-family: $secondary_font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
    }

    .next {
        margin-left: -30px;

        @media (min-width: 1440px) {
            margin-left: -10px;
        }
    }
}

.wrapper{
  padding: 2.5rem 2rem;
  box-shadow: 0px 4px 28px rgba(169, 177, 209, 0.12);
  background: #fff;
  border-radius: 12px;
  width: 100%;
}

table {
  thead{
    th {
      font-family: $primary_font;
      font-size: 12px;
      font-weight: bold;
      color: $dark_primary;
      letter-spacing: 0.2px;
      padding: 16px 5px;
      text-transform: uppercase;
    }
  }
  tbody {
    tr {
      cursor: default;
      td {
        font-family: $primary_font;
        font-size: 12px;
        letter-spacing: 0.2px;
        padding: 16px 5px;
        &:first-child{
          color: $secondary_text;
        }
      }
    }
  }
}
