@import "./../../styles/variables.scss";

.footer {
  &__container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__end {
    display: grid;
    grid-template-columns: 3fr 1fr 190px;
    align-items: center;
    gap: 4rem;
    border-bottom: 1px solid #E6E7EE;
    padding-top: 25px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
  }
  &__social {
    display: grid;
    grid-template-columns: 10fr 1fr; 
    align-items: center;
    padding: 30px 5px;
    &__icons{
        color: $gray_lighten-3;
        font-size: 25px;
        display: flex;
        justify-content: space-between;
    }   
  }
}

.banner {
  &__container {
    height: 100%;
    width: 100%;
    background: $primary;
  }
}
.heroOverlay {
  height: 100%;
  width: 100%;
  background: rgba($primary, 0.7);
}
.divider {
  border-bottom: 4px solid $secondary_white;
  width: 56px;
}

.button__fab {
  position: absolute;
  top: 85.8%;
  left: 48%;
  button {
    background: #b7b09c;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12), 0px 6px 6px rgba(0, 0, 0, 0.24);
    font-size: 32px;
    color: $secondary_white;
    height: 72px;
    width: 72px;
  }
}
