@import "../../../styles/variables.module.scss";

.return {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;

  div {
    color: var(--secondary-color);
    font-size: 20px;
  }

  span {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 1.33333px;
    text-transform: uppercase;
    color: var(--secondary-color);
  }
}

.back__btn {
  position: sticky;
  top: 64px;
  padding-left: 50px;
  z-index: 900;
  display: flex;
  align-items: center;

  @include breakpoint(xs) {
    padding-left: 16px;
  }

  @include breakpoint(sm) {
    padding-left: 16px;
  }

  @include breakpoint(lg) {
    padding-left: 80px;
  }
}

.banner_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: relative;

    &__layout {
      position: absolute;
      width: 100%;
      z-index: 1;
      background: var(--primary-color);
    }

    &__backTo {
      width: 100%;
      padding: 6% 0 2%;

      &__btn {
        display: flex;
        align-items: center;
        color: $white;
      }
      &__label {
        padding: 0 0.5rem;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1.33px;
        text-transform: uppercase;
      }
    }
}