@import '../../../styles/variables.module.scss';

.custom__checkbox {
    color: var(--secondary-color);
    border-radius: 10px;

}

.custom__checkbox_label {
    color: var(--secondary-color) !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 10px;
}