.container__add__app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container__stepper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    padding: 0;
    @media (max-width: 768px) {
        width: 90%;
        padding: 0%;
        }
    }
    
    @media (max-width: 768px) {
        .mt-85 {
            margin-top: 100px !important;
        }
}