@import "./../../styles/variables.scss";

.accordion {
  width: 100%;
  transition: 0.3s ease all;
  padding: 0.5rem 0;
  &__head {
    transition: 0.3s ease all;
    background: rgba($color: $gray-lighten-1, $alpha: 0.7);
    color: $gray_darken;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 30px;
    position: relative;
    &__title {
      font-size: 22px;
      font-weight: 500;
      &__actionbutton {
        font-size: 36px;
      }
    }
  }
  &__body {
    transition: 0.3s ease all;
    width: 100%;
    height: 100%;
    padding: 23px 30px;
    box-shadow: 0px 3px 12px -2px rgba(0, 0, 0, 0.1);
    margin-top: -10px;
  }
}
  
.active {
  transition: 0.3s ease all;
  background: $primary;
  color: $secondary_white;
}
