.container {
    position: relative;
    overflow: hidden;
  &__slider {
    display: flex;
    flex-wrap: nowrap;
    &__slide {
      min-width: 100%;
      overflow: hidden;
      transition: 0.3s ease all;
      z-index: 100;
      max-height: 450px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        vertical-align: top;
        object-fit: fill;
      }
      &__text {
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.7);
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        padding-left: 150px;
      }
    }
  }
}

.controls {
    position: absolute;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    pointer-events: none;

    button {
        pointer-events: all;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        width: 50px;
        height: 100%;
        text-align: center;
        position: absolute;
        transition: 0.3s ease all;
        color: #fff;
        font-size: 50px;
        &:hover {
            background: rgba($color: #000000, $alpha: 0.2);
        }
    }
    &__right {
        right: 0;
    }
    &__left {
        left: 0;
    }
}
